a, a:link, a:visited, a:hover {
    color: inherit;
}

html {
	height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
	min-height: 100%;
    margin: 0;
	display: flex;
	flex-direction: column;
}

header {
    background-color: teal;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 56px;
}

footer {
    padding: 0.5rem;
    text-align: center;
    background-color: teal;
}

section {
	display: flex;
	flex: 2;
	overflow: auto;
}

.input-box {
    color: white;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    margin: 3px;
    padding: 0 0 3px 6px;
    box-shadow: none;
}

.register {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	padding: 50px;
	background-color: #7C4DFF;
	border-radius: 10px;
}

.register-input {
	display: flex;
	flex-direction: column;
	margin-bottom: 14px;
}

.register-input > .input-box {
	font-size: 1rem;
	min-width: 20rem;
}

.register-input > .input-message {
	margin-right: 6px;
	text-align: right;
	min-height: 1rem;
	font-size: 0.8rem;
	color: tomato;
}

.center-div {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.input-box:focus {
	outline: none;
	box-shadow: none;
}

.input-error {
	padding-bottom: 2px;
    border-bottom: 2px solid tomato;
}

.hidden {
    display: none;
}

.logout-text {
    color: white;
    text-align: center;
}

.padding {
    margin: 8px;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.logo {
    height: 40px;
    vertical-align: middle;
}

.login_form {
    position: relative;
    right: 0;
    display: flex;
    flex-flow: row wrap;
}

.h2 {
	color: white;
	margin-top: 0;
}

.radio-button {
	display: flex;
	flex-direction: row;
}

.radio-button > label {
	margin-left: 6px;
}

.floating-button {
	display: none;
	position: fixed;
	right: 12px;
	bottom: 12px;
	z-index: 998;
	background-color: #F44336;
	border-radius: 50%;
	width: 56px;
	height: 56px;
}

.floating-button > a {
	text-decoration: none;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	color: white;
}

video {
	transform: scaleX(-1);
}

.overlay {
	background-color: transparent;
	position: absolute;
	height: 100%;
	width: 100%;
}

.overlay-button {
	width: 68px;
	height: 68px;
	padding: 0;
	background-color: transparent;
	border: 0;
}

.overlay-button:focus {
	outline: none;
	box-shadow: none;
}

.overlay-icon {
	margin: 0;
}


.gallery {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.gallery > article {
	display: flex;
	flex-direction: column;
	margin: 6px;
}

.gallery > article > header {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	height: 64px;
	background-color: #EEE;
}

.gallery > article > header > div {
	width: 45px;
	height: 45px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	border-radius: 50%;
	margin: auto 9px;
}

.gallery > article > header > div > img {
	width: 60px;
	height: 45px;
	display: flex;
}

.gallery > article > header > .h4 {
	display: flex;
	flex-grow: 1;
}

.gallery > article > header > span {
	display: flex;
	margin-right: 9px;
	color: #AAA;
}

.gallery > article > footer {
	display: flex;
	flex-direction: column;
	background-color: #EEE;
	min-height: 64px;
}

.gallery > article > footer > .comment {
	display: flex;
	flex-direction: row;
	text-align: left;
}

.actions {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.actions > button {
	background-color: transparent;
	padding: 3px;
	border: 0;
	cursor: pointer;
}

.actions > button:focus {
	outline: none;
	box-shadow: none;
}